:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  align-content: center;
  align-items: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ESTILO BASICO   */

.Portada{
  margin: 50px;
  display: flex;

}

.navButton{
  display: flex;
  padding: 10px;
  margin: 30px;
  gap: 20px;
  

}

.formRegister{
  display: flex;
  padding: 10px;
  width: 600px;
  margin: 10px;
  background-color: chocolate;
 
  input{
    margin: 20px;
    padding: 10px;
  }

}

.formLogin{
  display: inline-block;
  padding: 10px;
  width: 600px;
  align-content: center;
  align-items: center;
  margin: 10px;
  gap: 30px;
  background-color: chocolate;

  input{
    margin: 20px;
    padding: 10px;
  }

  
}




/*  CONTINUA LO QUE ESTABA POR DEFECTO   */




a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
